@import "../../responsive.scss";

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        transition: all 0.4s ease;

        @include sm{
            display: none;
        }
        &:hover{
            scale: 1.1;

            
        }
    }

    
    
    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        @include md{
            gap: 30px;
        }
    
        .logo{
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap:10px;

            img{
                width: 40px;
            }

            span{
                @include md{
                    display: none;
                }
                @include sm{
                    display: initial;
                }
            }
        }
    }

    .right{
        flex: 2;
        display: flex;  
        justify-content: flex-end;
        align-items: center;
        background-color: #fcf5f3;
        height: 100%;

        @include md{
            background-color: transparent;
            
        }

        a{
            padding: 12px 24px;
            margin: 10px;
        }

        .user{
            display: flex;
            font-weight: bold;
            align-items: center;

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;

                @include sm{
                    width: 36px;
                    height: 36px;
                }
                
                
            }

            span{
                    @include sm{
                        display: none;
                    }

                    @include md {
                        display: none;
                    }
            
            }

            .msg{
                position: relative;
                cursor: pointer;
                border: none;

                

                .notification{
                    position: absolute;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 10px;
                    right: 38px;
                }

                @include sm{
                    display: inline;
                }
            }

            .userProfile{
                background-color: #fece51;
                padding: 12px 24px;
                cursor: pointer;
                border:none;

                
            }
        }

        .register{
            background-color: #f8b24f;
        
        }
        
        .menuIcon{
            display: none;
            z-index: 999;
            @include sm{
                display: inline;

            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
            }
        }

        .menu{
            position: absolute;
            top:0;
            right: -50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 1s ease;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            .userProfile{
                background-color: #fece51;
                padding: 12px 24px;
                cursor: pointer;
                border:none;
                position: relative;

                .notification{
                    position: absolute;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -8px;
                    right: -8px;
                }
            }
            

            &.active{
                right: 0;
            }

            @include sm{
                a{
                    display: initial;
                }
            }
        }
    }
}